.mobile{
    width: 400px;
    height: 861px;
    border-style: ridge;
}
/* helps set desired resolution */
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* helps align items to center and space evenly between elements */

.p1{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 0;
}
/* font for paragraph 1 */
.p2{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6e6c6b;
    margin-top: 4px;
    margin-bottom: 4px;
}
/* font for paragraph 2 */

.p3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 352px;
    height: 56px;
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
}
/* spaces header */
.button1 {
    text-align: left;
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 54px;
    border-radius: 1000px;
    border-width: thin;
    box-shadow: 2px 2px #b4b1b0;
    background: #f0f0f0 url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/490px-Magnifying_glass_icon.svg.png);
    padding: 4px 8px 0% 65px;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
}
/* button 1 style, creates border with a drop shadow, image is in background and aligned to left with text spaced */
.button2 {
    padding-inline-start: 4px;
    padding-right: 4px;
    position: relative;
    text-align: center;
    background-color: transparent;
    border-width: thin;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}
/* button 2 style, creates border */
.button2img {
    height: 60%;
    width: 60%;
}
/* button2 img scaled down to fit */

.selection{
    width: 352px;
    height: 74px;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}
/* div to help create padding and size */
.subselection{
    height: 44px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    background-color: transparent;
    border: none;
}
/* style for button */
.subselectionimg{
    height: 24px;
    width: 24px;
}
/* resizes icon to suitable size */