.mobile {
    width: 400px;
}
/* helps set desired resolution */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* helps align items to center and space evenly between elements */
.flex-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/* helps align items to center and space evenly between elements */

.p1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 0;
}
/* font for paragraph 1 */
.p2 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6e6c6b;
    margin-top: 4px;
    margin-bottom: 4px;
}
/* font for paragraph 2 */
.p3 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
/* font for paragraph 3 */
.p4 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
    margin-bottom: 0;
    color: #6e6c6b;
}
/* font for paragraph 4 */
.p5 {
    font-size: 22px;
}
/* style for p5 */

.fixed {
    position: fixed;
    background-color: #f0f0f0;
    z-index: 2;
}
/* keep header and subsection visible at all times */ 

.header {
    width: 352px;
    height: 56px;
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
}
/* spaces header */
.button1 {
    text-align: left;
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 54px;
    border-radius: 1000px;
    border-width: thin;
    box-shadow: 2px 2px #b4b1b0;
    background: #f0f0f0 url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/490px-Magnifying_glass_icon.svg.png);
    padding: 4px 8px 0% 65px;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
}
/* button 1 style, creates border with a drop shadow, image is in background and aligned to left with text spaced */
.button2 {
    padding-inline-start: 4px;
    padding-right: 4px;
    position: relative;
    text-align: center;
    background-color: transparent;
    border-width: thin;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}
/* button 2 style, creates border */
.button2img {
    height: 60%;
    width: 60%;
}
/* button2 img scaled down to fit */

.selection {
    width: 352px;
    height: 74px;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: solid;
    border-color: #b4b1b0;
}
/* div to help create padding and size */
.subselection {
    height: 44px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    background-color: transparent;
    border: 0;
}
/* style for button */
.subselectionimg {
    height: 24px;
    width: 24px;
}
/* resizes icon to suitable size */

.body {
    width: 400px;
    border-style: hidden;
    border-width: thin;
}
/* spaces body */
.option {
    width: 380px;
    height: 461px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
}
/* div to contain all elements in option */
.optiontop {
    display: flex;
    align-self: center;
    padding-top: 12px;
    width: 361px;
    height: 361px;

}
/* top part of option div */
.optionimg {
    border-radius: 14px;
    width: 361px;
    height: 361px;
    object-fit: cover;
}
/* limits shown image and crops any overflowing image */
.optionguest {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 1;
    width: 117.33px;
    height: 25px;
    border-radius: 1000px;
    border-width: 0.5px;
    border-style: solid;
    background-color:#f0f0f0
}
/* guest favourite symbol at top left of image */
.guesttext {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/* font style for guest text */
.optionheart {
    position: absolute;
    margin-top: 18px;
    margin-left: 322px;
    z-index: 1;
}
/* heart symbol to favourite the place */
.optionbot {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* bottom part of option div */
.price {
    text-decoration: underline;
    font-weight: 750;
    color: black;
}
/* font style for the price */
.ratingtext {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 24px;
}
/* font style and position of ratings */

.more {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    width: 380px;
    height: 86px;
}
/* dimension for the more div and flex body to align content */
.morebutton {
    width: 120.328px;
    height: 40px;
    border-radius: 7px;
    align-self: center;
    font-size: 16px;
    background-color: black;
    color: white;
}
/* design for the more button */

.footer {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 24px;
    padding-right: 24px;
    width: 380px;
    height: 333px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid;
    border-color: #b4b1b0;
    border-width: 1px;
}
/* style for the footer section */
.footerbar {
    width: 340px;
    height: 50px;
    border-bottom: solid;
    border-color: #b4b1b0;
    border-width: 1px;
}
/* size for footerbar */
.footertextdiv {
    padding-top: 32px;
    width: 380px;
    height: 216px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* size for the footertextdiv */
.footertext {
    width: 186px;
    height: 18px;
    font: 14px;
}
/* size for footertext */

.support {
    width: 380px;
    height: 908.2666px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/* size of support and font style */

.subsupport {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 380px;
    height: 210.094px;
    border-bottom: solid;
    border-color: #b4b1b0;
    border-width: 1px;
}
.subsupport2 {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 380px;
    height: 178.078px;
    border-bottom: solid;
    border-color: #b4b1b0;
    border-width: 1px;
}
.subsupport ul {
    padding: 0px;
}
.subsupport h3 {
    margin: 0px;
}
.subsupport2 ul {
    padding: 0px;
}
.subsupport2 h3 {
    margin: 0px;
}
.supportterms {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 380px;
    height: 115px;
    border-bottom: solid;
    border-color: #b4b1b0;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.supportconfig {
    width: 380px;
    height: 18px;
}
.support img {
    height: 50%;
    width: 4%;
}
.supporttnc {
    padding-top: 12px;
    width: 380px;
    height: 75px;
}
/* style and sizes for all the support section */

.footericon {
    width: 428px;
    height: 64px;
    border-top: solid;
    border-color: #b4b1b0;
    border-width: 1px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}
.iconselection {
    padding-left: 2px;
    padding-right: 2px;
    width: 81.594px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconselection img {
    max-width: 24px;
    max-height: 44px;
    display: block;
    width: auto;
    height: auto;
}